{% extends "base.html" %}

{% block title %}Skills{% endblock %}

{% block content %}

<section class="skills-section">
    <div class="container">
        <h1>My Skills</h1>
        <p>Tools I use to build secure, scalable, and efficient Web Applications.</p>

        <div class="skills-scalable">

            <div class="skill-card">
                <h3>Backend Development</h3>
                <ul>
                    <li>Python</li>
                    <li>Django</li>
                    <li>Django REST Framework</li>
                    <li>REST APIs</li>
                </ul>
            </div>

            <div class="skill-card">
                <h3>Frontend</h3>
                <ul>
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>Bootstrap</li>
                    <li>JavaScript (Basic)</li>
                </ul>
            </div>

            <div class="skill-card">
                <h3>Databases</h3>
                <ul>
                    <li>SQLite</li>
                    <li>PostgreSQL</li>
                    <li>MySQL</li>
                </ul>
            </div>

            <div class="skill-card">
                <h3>Version Control</h3>
                <ul>
                    <li>Git</li>
                    <li>GitHub</li>
                </ul>
            </div>

            <div class="skill-card">
                <h3>Deployment</h3>
                <ul>
                    <li>Render</li>
                    <li>Gunicorn</li>
                    <li>Whitenoise</li>
                </ul>
            </div>

            <div class="skill-card">
                <h3>Tools</h3>
                <ul>
                    <li>VS Code</li>
                    <li>Postman</li>
                    <li>Windows</li>
                </ul>
            </div>
                <h3>Soft Skills</h3>
                <ul>
                    <li>Problem Solving</li>
                    <li>Communication</li>
                    <li>Team Collaboration</li>
                    <li>Time Management</li>
                    <li>Critical Thinking</li>
                </ul>
        </div>
    </div>
</section>

{% endblock %}